@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer: #0A0A0A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer: var(--footer)
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel);
}
